<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnSkipped="true"
         printsummary="true" 
         printerClass="PHPUnit_TextUI_ResultPrinter"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Compress Test Suite">
            <directory suffix="Test.php">./mithra62/BackupPro/tests/Browser/Craft/RestApi/Settings</directory>
            <exclude>./mithra62/BackupPro/tests/Browser/EE2/RestApi/Settings/Cron**</exclude>
            <exclude>./mithra62/BackupPro/tests/Browser/EE2/RestApi/Settings/FileBackup**</exclude>
            <!--  <exclude>./mithra62/BackupPro/tests/Browser</exclude>  -->
        </testsuite>
    </testsuites>
</phpunit>